* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
body * {
    color: #ffffff;
    font-family: "Inter", sans-serif;
}
body {
    max-height: 100vh;
    background: black url("../img/bg-dark.jpg") no-repeat top center/100vh;
}

#page {
    background: rgba(255, 1, 100, .3);
    max-width: 380px;
    margin: auto;
    border-radius: 15px 5px;
}

#content {
    max-width: 360px;
    margin: 56px auto;
    text-align: center;
    padding: 24px;
}

/* top */
#content header img {
    width: 125px;
    border-radius: 50%;
}
#content header p {
    line-height: 24px;
    font-weight: 500;
    text-shadow: black 0px 0px 3px;
    margin-top: 8px;
}

/* lista */
ul {
    padding: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul li a {
    text-decoration: none;
    text-shadow: black 0px 0px 3px;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgb(255, 255, 255, .5);
    border-radius: 3px 15px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    font-weight: 500;

    transition: all .2s;
}
ul li a:hover {
    transform: scale(1.1);
    background: rgb(0, 0, 0, .5);
}