* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
:root {
    --text-color: white;
    --bg-color: black;
    --bg-body: url("../img/bg-dark.jpg");
    --shadow-black: black 0px 0px 3px;
    --bg-page: rgba(255, 1, 100, .3);
    --bg-link: rgba(255, 0, 0, .2);
    --border-link: rgba(255, 255, 255, .5);
    --bg-link-hover: rgba(255, 0, 0, .5);
    --switch-img: url("../img/moon.svg");
}

.light {
    --text-color: white;
    --bg-color: #c6bdb3;
    --bg-body: url("../img/bg-light.jpg");
    --shadow-black: none;
    --bg-page: rgba(102, 0, 255, 0.25);
    /* --bg-page: rgba(0, 0, 0, 0.2); */
    --bg-link: rgba(92, 182, 37, .63);
    --border-link: rgba(255, 255, 255, .8);
    --bg-link-hover: rgba(92, 182, 37, 1);
    --switch-img: url("../img/sun.svg");
}

body * {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}
body {
    max-height: 100vh;
    background: var(--bg-color) var(--bg-body) no-repeat top center/100vh;
    padding-bottom: 56px;
}

#page {
    background: var(--bg-page);
    width: 86%;
    margin: auto;
    border-radius: 15px 5px;
    padding: 0 24px;
    position: relative;
}

#content {
    max-width: 580px;
    margin: 56px auto;
    text-align: center;
    padding: 24px 24px 0;
}

/* top */
#content header img {
    width: 125px;
    border-radius: 50%;
}
#content header p {
    line-height: 24px;
    font-weight: 500;
    text-shadow: var(--shadow-black);
    margin: 8px auto 16px;
}

/* switch */
#switch {
    width: 64px;
    margin: 16px auto;
    margin: 24px auto;
    position: absolute;
    top: 5px;
    left: 20px;
}
#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-img) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.light #switch button {
    right: 0;
    left: initial;
    font-weight: bold;
}
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    border: 1px solid var(--border-link);
    background: var(--bg-link);
}

/* lista */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul li a {
    text-decoration: none;
    text-shadow: var(--shadow-black);
    background: var(--bg-link);
    border: 1px solid var(--border-link);
    border-radius: 3px 15px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    font-weight: 500;

    transition: all .2s;
}
ul li a:hover {
    transform: scale(1.1);
    background: var(--bg-link-hover);
    box-shadow: var(--bg-link) 0px 0px 50px;
}
.light ul li a:hover {
    color: black;
    
}

/* social */
#social {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 24px;
    font-size: 24px;
}

#social a {
    display: flex;
    width: 40px;
    padding: 8px;
    transition: all .2s;
}
#social a:hover {
    transform: scale(1.25);
    border-radius: 50%;
    background: var(--bg-link-hover);
    box-shadow: var(--bg-link-hover) 0px 0px 15px;
}

/* footer */
#page footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    /* color: #cccccc01; */
}
#page footer a{
    border-radius: 8px;
}

#page footer a:hover{
    background: var(--bg-link-hover);
    box-shadow: var(--bg-link-hover) 0px 0px 15px;
    padding: 2px;
}